@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body 
{
  font-family: "Inter";
  background-color: indianred;
}

h1 
{
  color: whitesmoke;
}

p 
{
  color: whitesmoke;
}

a
{
  text-decoration: none;
  color: black;
  background-color: hotpink;
  padding: 10px;
  padding-left:30px;
  padding-right:30px;
  border-radius: 25px;
}

div.main
{
  text-align: center;
  margin: 50px;
  padding: 15px;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.3);
}