@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Inter&display=swap');

body 
{
  font-family: "Inter";
  background-color: #cd4c5c;
  color: whitesmoke;
}

.main
{
  text-align: center;
  margin: 50px;
  padding: 15px;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.3);
}

#title
{
  font-weight: 400;
  font-family: "Audiowide";
  margin-top: 30px; 
  font-size: 300%;
}

hr
{
  border: 2px solid #cd4c5c;
  margin: 50px;
}

.description
{
  font-size: 130%; 
  margin: 0 400px 0 400px;
  text-align: left;
}

.bio
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
}

.profile
{
  width: 400px;
  border-radius: 50%;
  -webkit-mask-image:linear-gradient(to bottom, rgba(0,0,0,1) 60%, rgba(0,0,0,0));
  mask-image:linear-gradient(to bottom, rgba(0,0,0,1) 60%, rgba(0,0,0,0));
}

.biotext
{
  width: 60%;
}

.gallery
{
  display: grid;
  margin: 50px;
  grid-template-columns: 1fr 1fr;
}

.card
{
  position: relative;
  display: grid;
  grid-template-columns: 45% 55%;
  margin-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: all 0.3s ease;
  width: 90%;
  left: 50%;
  transform: translate(-50%, 0);
  height: 200px;
}

.card:hover
{
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 6px 10px 0 rgba(0.1,0.1,0.1,0.6);
  width: 95%;
}

img.thumbnail
{
  object-fit: cover;
  border-radius: 25px 0px 0px 25px;
}

.part2
{
  position: relative;
  grid-template-rows: 1fr 1fr;
  text-align: left;
  margin: 1em 50px 1em 1em;
  width: 100%;
}

div.button
{
  position: absolute;
  bottom: 2px;
  right: 25px;
}

a.image
{
  text-decoration: none;
}

a.button
{
  text-decoration: none;
  color: black;
  background-color: hotpink;
  padding: 10px 30px;
  border-radius: 25px 0px;
  transition: 0.3s;
}

a.button:hover
{
  background-color: #ff99d1;
}

img.link
{
  width: 50px;
  height: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  width: 60%;
  margin: auto;
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 15px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.prev {
  left: 20px;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 20px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

/* Number text (1/3 etc) */
.numbertext {
  background-color: rgba(0, 0, 0, 0.6);
  color: whitesmoke;
  font-size: 12px;
  margin: 20px 0px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  padding: 2px 16px;
  color: whitesmoke;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

@media only screen 
and (max-width: 1000px)
{
  #title
  {
    font-size: 150%;
  }

  .main
  {
    margin: 10px;
    padding: 5px;
  }

  .bio
  {
    margin: auto;
    grid-template-columns: 1fr;
    font-size: 80%;
  }

  .biotext
  {
    width: 100%;
  }

  .gallery
  {
    grid-template-columns: 1fr;
    margin: 0;
    font-size: 75%;
  }

  h1
  {
    font-size: 120%;
  }

  div.button
  {
    bottom: 5px;
    right: 20px;
  }

  hr
  {
    margin: 30px;
  }

  .profile
  {
    width: 200px;
  }

  .description
  {
    font-size: 75%;
    margin: 10px;
  }

  .container 
  {
    width: 80%;
    margin-top: 0;
    padding: 20px;
  }

  a.button
  {
    padding: 8px 20px;
    border-radius: 20px 0;
  }
}

@media only screen 
and (max-width: 400px)
{
  #title
  {
    font-size: 120%;
  }

  .bio
  {
    font-size: 65%;
  }

  .biotext
  {
    width: 100%;
  }

  .gallery
  {
    font-size: 65%;
  }

  h1
  {
    font-size: 100%;
  }

  a.button
  {
    padding: 5px 15px;
    border-radius: 15px 0;
  }
}